<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      User Photo Preview
    </h3>
  </div>
  <div class="panel-body">
    <div class="image-preview">
      <%= gravatar_for @user %>
    </div>
    <div>
      <br />
      <p><i>User image is loaded automatically based on email address via the
        <a href="https://www.gravatar.com" target="_blank">
          Gravatar</a> service.</i></p>
    </div>
  </div> <!-- panel body -->
</div> <!-- panel -->
