<!-- SIDE PANEL -->
<div class="col-md-3 column">

  <%= render partial: 'filter_panel', locals: { collapsed: true, filter_path: filter_path } %>

  <%= render partial: 'filter_panel', locals: { collapsed: false, filter_path: filter_path } %>

</div> <!-- side panel -->