<!-- ********************* MAIN CONTENT ********************* -->
<div class="row clearfix">
  <%= render 'users/side_panel', filter_path: directory_path %>
  <!-- USER LIST -->
  <div class="col-md-9 column">
    <div class="panel panel-default table-panel">
      <div class="panel-body">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Department</th>
            <th>Phone</th>
            </a>
          </tr>
          </thead>
          <tbody data-link="row">
          <%= render partial: 'directory_entry', collection: @users, as: :directory_entry %>
          </tbody>
        </table>
        <%= will_paginate @users, renderer: BootstrapPagination::Rails,
                          class: 'pagination-sm',
                          params: { user_view: params[:user_view],
                                   view_department_id: params[:view_department_id],
                                   user_search: params[:user_search] } %>
      </div> <!-- panel body -->
    </div>  <!-- panel -->
  </div> <!-- col user list -->

</div> <!-- row main content ************************************** -->

