<!-- ********************* MAIN CONTENT ********************* -->
<div class="row clearfix">

  <div class="col-md-8 column">

    <%= render 'form' %>

    <%= link_to 'Go Back  ', users_path %>

  </div> <!-- col user form -->

</div>  <!-- row main content ************************************** -->
