<!-- ********************* MAIN CONTENT ********************* -->
<div class="row clearfix">

  <div class="col-md-8 column">

    <%= render partial: 'shared/app_flash',
               locals: { box_size: :large } %>

    <div class="well">
      <div class="row">
        <!-- SIDE PANEL -->
        <div class="col-md-4">
          <%= gravatar_for @user %>
        </div> <!-- col side panel -->
        <!--USER DETAIL-->
        <div class="col-md-8">
          <%= render 'user_detail' %>
        </div> <!--col user detail-->
      </div> <!-- row panel -->
    </div> <!-- well -->

    <%= link_to 'Go Back  ', directory_path %>

  </div> <!-- col user form -->

</div>  <!-- row main content ************************************** -->
