<!-- ********************* MAIN CONTENT ********************* -->
<div class="row clearfix">

  <div class="col-md-9 column">

    <%= render 'shared/app_flash' %>

    <!-- DEPARTMENT LIST -->
    <div class="panel panel-default table-panel">
      <div class="panel-heading">
        <h3 class="panel-title">
          Department Maintenance
        </h3>
        <small><%= link_to 'Create New Department', new_department_path,
                           class: 'new-dept-link' %></small>
      </div>
      <div class="panel-body">
        <table class="table table-striped table-hover ">
          <thead>
          <tr>
            <th>Action</th>
            <th>Department Name</th>
            <th>Location</th>
            <th>Phone</th>
          </tr>
          </thead>
          <tbody>
            <%= render @departments %>
          </tbody>
        </table>
        <%= will_paginate @departments, renderer: BootstrapPagination::Rails,
                          class: 'pagination-sm' %>
      </div> <!-- panel body -->
    </div> <!-- panel -->
  </div> <!-- col dept list -->

</div> <!-- row main content ************************************** -->

