.page-header {
  border-bottom: 3px solid #EEEEEE;
  margin: 10px 0 20px;
  padding-bottom: 9px;
}

.navbar {
  margin-bottom: 10px;
}

.modal-done {
  height: 50px;
  text-align: right;
}

.btn-modal-done {
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-actions {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.user-action-item {
  display: inline;
  padding: 5px;
}

.dept-actions {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dept-action-item {
  display: inline;
  padding: 5px;
}

.image-preview {
  text-align: center;
}

.new-user-link, .new-dept-link {
  margin-top: 10px;
}

.signin-row {
  text-align: center;
}

.remember-me-text {
  text-align: left;
}

//.table-panel {
//  background-color: #283a4b;
//}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
