<div class="navbar-collapse collapse navbar-responsive-collapse">
  <ul class="nav navbar-nav navbar-right">
    <li class="<%= active_class_for :login %>"><%= link_to 'Login', login_path %></li>
  </ul>
</div>