<!-- ********************* PAGE HEADER ********************* -->
<div class="row clearfix">
  <div class="col-xs-12 column">
    <div class="page-header">
      <h1>
        <%= Rails.configuration.application_name %>
      </h1>
    </div>
  </div>
</div> <!-- row page header ********************************-->